#app {
    width: fit-content;
    margin: auto;
}
form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: max-content;
    --gap-between-inputs: 2px;
    grid-row-gap: var(--gap-between-inputs);
    --form-width: 50em;
    width: var(--form-width);
}

@media (min-width: 1200px) {
    #app {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1em;
    }
}
@media (max-width: 1200px) {
    #app, input, #per-year-output-container {
        --global-font-size: xx-large;
        font-size: var(--global-font-size);
    }
    form {
        --form-width: 100vw;
        --gap-between-inputs: 6px;
    }
}

#output {
    text-align: center;
}

#output-total-sum {
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 0.25em;
}

#per-year-output-container {
    margin: auto;
}

#per-year-output-container .acc {
    color: green;
}

#per-year-output-container .fees {
    color: red;
}

#disclaimer {
    position: absolute;
    bottom: 2px;
    text-align: center;
    width: 100%;
    font-size: xx-small;
    opacity: 0.5;
}
